h1 {
    margin: 2vw 2vw 2vw 0;
    font-size: calc(12px + 1vw);
    color: #d9eef5;    
}

h2 {
    margin: 0;
    font-size: calc(12px + 1vw);
}

p {
    margin: 0;
    font-size: calc(8px + 0.5vw);   
    font-weight: 400;
}

.icon-user {
  height: calc(16px + 5vw);  
  display: inline-block;
}

.icon {
    margin: 0 0.4vw 0 0;
    width: 1vw;
    height: 1vw;
}

.customer-row {
    margin: 0 0 1vw 0;
    border: 0.2vw solid #b5dce9;     
    background: white; 
    opacity: 0.95;     
}

.customer-name-col {                
    margin: 0;
    padding: 1vw; 
}

.customer-data-col {                
    margin: 0;
    padding: 0.5vw;     
    border-left: 1px solid #b5dce9;        
}

.customer-row:nth-child(even){
    margin: 1vw 0 1vw 1vw;    
    box-shadow: 2vw 2vw 5vw black;
    
    .customer-data-col {
        margin: 0 0 0 -0.5vw;        
    }
}

.customer-row:nth-child(odd){
    margin: 1vw 0 1vw 0; 
    box-shadow: 2vw 2vw 5vw black;
}

.customer-col{    
    border-left: 1px solid #b5dce9;
    border-radius: 15px;
    background: #d9eef5;    
    margin: 0.5vw;
    padding: 0.5vw;
    opacity: 0.9;
}

.form-control, button {
    font-size: calc(8px + 0.5vw);
}

button {
    border: 0;
    background: #b35e8f; 
     
}

button:hover{
    background: black;  
}