<div class="container-fluid">    
    <h1>Customers</h1>  
    
    <form class="form-inline" action="#" (submit)="filter(filterString.value, filterSelection.value)">
        <input type="text" class="form-control" #filterString placeholder="Filter value">
        <select class="form-control" #filterSelection>
            <option value="name">Name</option>
            <option value="street">Street</option>
            <option value="postalCode">Postal Code</option>
            <option value="city">City</option>
            <option value="country">Country</option>            
          </select>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>     
    
    <div class="row customer-row" *ngFor="let customer of customers" [routerLink]="['/details', customer.id]">
       
        <div class="col customer-name-col">
            <h2>{{customer.lastName}}, {{customer.firstName}}</h2>
            <p><img class="icon" src="../../../assets/icons/birth.png">{{customer.birthDate | date:'longDate'}}</p>
        </div>
        <div class="col d-none d-sm-block customer-data-col">
            <p><img class="icon" src="../../../assets/icons/map.png">{{customer.street}}, {{customer.postalCode}} {{customer.city}} ({{customer.country}})</p>                        
            <p><img class="icon" src="../../../assets/icons/phone.png">{{customer.phone}}</p>
            <p><img class="icon" src="../../../assets/icons/mail.png">{{customer.eMail}}</p>
        </div>  
        <div class="col d-none d-lg-block customer-col">            
            <p><img class="icon" src="../../../assets/icons/order.png">No orders</p>
        </div>
        <div class="col d-none d-lg-block customer-col">            
            <p><img class="icon" src="../../../assets/icons/issue.png">No issues</p>
        </div>                
    </div>        
</div>


