<div class="container-fluid">
  <h1>Editing: {{ customer.firstname }} {{ customer.lastname }}</h1>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <div class="form-group">
        <label for="id">Id</label>
        <input formControlName="id" id="id" type="text" class="form-control" [ngModel]="customer.id" readonly />
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="title">Title</label>
        <select formControlName="title" id="title" class="form-control" [ngModel]="customer.title">
          <option *ngFor="let key of titleTypeOptions" [value]="key">{{ key }}</option>
        </select>

        <div *ngIf="formControls.title.touched && formControls.title.invalid" class="alert alert-danger">
          <div *ngIf="formControls.title.errors.required">Title is required.</div>
        </div>
      </div>

      <div class="w-100 d-block d-md-none"></div>

      <div class="form-group">
        <label for="firstname">First name</label>
        <input
          formControlName="firstname"
          id="firstname"
          type="text"
          class="form-control"
          [ngModel]="customer.firstname"
        />

        <div *ngIf="formControls.firstname.touched && formControls.firstname.invalid" class="alert alert-danger">
          <div *ngIf="formControls.firstname.errors.required">First name is required.</div>
          <div *ngIf="formControls.firstname.errors.minlength">First name should be at least 2 characters long.</div>
        </div>
      </div>

      <div class="w-100 d-block d-md-none"></div>

      <div class="form-group">
        <label for="lastname">Last name</label>
        <input
          formControlName="lastname"
          id="lastname"
          type="text"
          class="form-control"
          [ngModel]="customer.lastname"
        />

        <div *ngIf="formControls.lastname.touched && formControls.lastname.invalid" class="alert alert-danger">
          <div *ngIf="formControls.lastname.errors.required">Last name is required.</div>
          <div *ngIf="formControls.lastname.errors.minlength">Last name should be at least 2 characters long.</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="gender">Gender</label>
        <select formControlName="gender" id="gender" class="form-control" [ngModel]="customer.gender">
          <option *ngFor="let key of genderTypeOptions" [value]="key">{{ key }}</option>
        </select>

        <div *ngIf="formControls.gender.touched && formControls.gender.invalid" class="alert alert-danger">
          <div *ngIf="formControls.gender.errors.required">Gender is required.</div>
        </div>
      </div>

      <div class="w-100 d-block d-md-none"></div>

      <div class="form-group">
        <label for="job">Job</label>
        <input formControlName="job" id="job" type="text" class="form-control" [ngModel]="customer.job" />
      </div>

      <div class="w-100 d-block d-md-none"></div>

      <div class="form-group">
        <label for="birthdate">Birth date</label>
        <input
          formControlName="birthdate"
          id="birthdate"
          type="date"
          class="form-control"
          [ngModel]="customer.birthdate | date: 'yyyy-MM-dd'"
        />

        <div *ngIf="formControls.birthdate.touched && formControls.birthdate.invalid" class="alert alert-danger">
          <div *ngIf="formControls.birthdate.errors.required">Birth date is required.</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="streetaddress">Street address</label>
        <input
          formControlName="streetaddress"
          id="streetaddress"
          type="text"
          class="form-control"
          [ngModel]="customer.streetaddress"
        />

        <div
          *ngIf="formControls.streetaddress.touched && formControls.streetaddress.invalid"
          class="alert alert-danger"
        >
          <div *ngIf="formControls.streetaddress.errors.required">Street address is required.</div>
          <div *ngIf="formControls.streetaddress.errors.minlength">
            Street address should be at least 4 characters long.
          </div>
        </div>
      </div>

      <div class="w-100 d-block d-md-none"></div>

      <div class="form-group">
        <label for="postalcode">Postal code</label>
        <input
          formControlName="postalcode"
          id="postalcode"
          type="text"
          class="form-control"
          [ngModel]="customer.postalcode"
        />

        <div *ngIf="formControls.postalcode.touched && formControls.postalcode.invalid" class="alert alert-danger">
          <div *ngIf="formControls.postalcode.errors.required">Postal code is required.</div>
          <div *ngIf="formControls.postalcode.errors.minlength">
            Postal code should be at least 4 characters long.
          </div>
        </div>
      </div>

      <div class="w-100 d-block d-md-none"></div>

      <div class="form-group">
        <label for="city">City</label>
        <input formControlName="city" id="city" type="text" class="form-control" [ngModel]="customer.city" />

        <div *ngIf="formControls.city.touched && formControls.city.invalid" class="alert alert-danger">
          <div *ngIf="formControls.city.errors.required">City is required.</div>
          <div *ngIf="formControls.city.errors.minlength">
            City should be at least 4 characters long.
          </div>
        </div>
      </div>

      <div class="w-100 d-block d-md-none"></div>

      <div class="form-group">
        <label for="country">Country</label>
        <input formControlName="country" id="country" type="text" class="form-control" [ngModel]="customer.country" />

        <div *ngIf="formControls.country.touched && formControls.country.invalid" class="alert alert-danger">
          <div *ngIf="formControls.country.errors.required">Country code is required.</div>
          <div *ngIf="formControls.country.errors.minlength || formControls.country.errors.maxlength">
            Country code should be exactly 2 characters long.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="currency">Currency</label>
        <input
          formControlName="currency"
          id="currency"
          type="text"
          class="form-control"
          [ngModel]="customer.currency"
        />

        <div *ngIf="formControls.currency.touched && formControls.currency.invalid" class="alert alert-danger">
          <div *ngIf="formControls.currency.errors.required">Currency is required.</div>
          <div *ngIf="formControls.currency.errors.minlength">
            Currency should be at least 2 characters long.
          </div>
        </div>
      </div>

      <div class="w-100 d-block d-md-none"></div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input formControlName="phone" id="phone" type="text" class="form-control" [ngModel]="customer.phone" />

        <div *ngIf="formControls.phone.touched && formControls.phone.invalid" class="alert alert-danger">
          <div *ngIf="formControls.phone.errors.required">Phone is required.</div>
          <div *ngIf="formControls.phone.errors.minlength">
            Phone should be at least 6 characters long.
          </div>
        </div>
      </div>

      <div class="w-100 d-block d-md-none"></div>

      <div class="form-group">
        <label for="email">email</label>
        <input formControlName="email" id="email" type="text" class="form-control" [ngModel]="customer.email" />

        <div *ngIf="formControls.email.touched && formControls.email.invalid" class="alert alert-danger">
          <div *ngIf="formControls.email.errors.required">E-Mail is required.</div>
          <div *ngIf="formControls.email.errors.minlength">
            E-Mail should be at least 6 characters long.
          </div>
        </div>
      </div>
    </div>

    <button
      *ngIf="isNew"
      type="button"
      class="btn btn-primary btn-lg btn-danger shadow-none"
      routerLink="/customer/list"
    >
      Cancel
    </button>
    <button
      *ngIf="!isNew"
      type="button"
      class="btn btn-primary btn-lg btn-danger shadow-none"
      [routerLink]="['/customer/details', customer.id]"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-success shadow-none" type="submit">
      Save
    </button>
  </form>
</div>
