<div class="container-fluid">
  <h1>Editing: {{ customer.firstName }} {{ customer.lastName }}</h1>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="id">Id</label>
      <input formControlName="id" id="id" type="text" class="form-control" [ngModel]="customer.id" readonly />
    </div>

    <div class="row">
      <div class="form-group">
        <label for="title">Title</label>

        <select formControlName="title" id="title" class="form-control" [ngModel]="customer.title">
          <option value="">No title selected</option>
          <option value="Mr">Mr</option>
          <option value="Mrs">Mrs</option>
          <option value="Ms">Ms</option>
          <option value="Dr">Dr</option>
          <option value="Rev">Rev</option>
          <option value="Honorable">Honorable</option>
        </select>

        <div *ngIf="formControls.title.touched && formControls.title.invalid" class="alert alert-danger">
          <div *ngIf="formControls.title.errors.required">Title is required.</div>
        </div>
      </div>

      <div class="w-100 d-block d-md-none"></div>

      <div class="form-group">
        <label for="firstName">First name</label>
        <input
          formControlName="firstName"
          id="firstName"
          type="text"
          class="form-control"
          [ngModel]="customer.firstName"
        />

        <div *ngIf="formControls.firstName.touched && formControls.firstName.invalid" class="alert alert-danger">
          <div *ngIf="formControls.firstName.errors.required">First name is required.</div>
          <div *ngIf="formControls.firstName.errors.minlength">First name should be at least 2 characters long.</div>
        </div>
      </div>

      <div class="w-100 d-block d-md-none"></div>

      <div class="form-group">
        <label for="lastName">Last name</label>
        <input
          formControlName="lastName"
          id="lastName"
          type="text"
          class="form-control"
          [ngModel]="customer.lastName"
        />

        <div *ngIf="formControls.lastName.touched && formControls.lastName.invalid" class="alert alert-danger">
          <div *ngIf="formControls.lastName.errors.required">Last name is required.</div>
          <div *ngIf="formControls.lastName.errors.minlength">Last name should be at least 2 characters long.</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="gender">Gender</label>

        <select formControlName="gender" id="gender" class="form-control" [ngModel]="customer.gender">
          <option value="">No gender selected</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>

        <div *ngIf="formControls.title.touched && formControls.title.invalid" class="alert alert-danger">
          <div *ngIf="formControls.title.errors.required">Gender is required.</div>
        </div>
      </div>

      <div class="w-100 d-block d-md-none"></div>

      <div class="form-group">
        <label for="job">Job</label>
        <input formControlName="job" id="job" type="text" class="form-control" [ngModel]="customer.job" />
      </div>

      <div class="w-100 d-block d-md-none"></div>

      <div class="form-group">
        <label for="birthDate">Birth date</label>
        <input
          formControlName="birthDate"
          id="birthDate"
          type="date"
          class="form-control"
          [ngModel]="customer.birthDate | date: 'yyyy-MM-dd'"
        />

        <div *ngIf="formControls.birthDate.touched && formControls.birthDate.invalid" class="alert alert-danger">
          <div *ngIf="formControls.birthDate.errors.required">Birth date is required.</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="streetAddress">Street address</label>
        <input
          formControlName="streetAddress"
          id="streetAddress"
          type="text"
          class="form-control"
          [ngModel]="customer.streetAddress"
        />

        <div
          *ngIf="formControls.streetAddress.touched && formControls.streetAddress.invalid"
          class="alert alert-danger"
        >
          <div *ngIf="formControls.streetAddress.errors.required">Street address is required.</div>
          <div *ngIf="formControls.streetAddress.errors.minlength">
            Street address should be at least 4 characters long.
          </div>
        </div>
      </div>

      <div class="w-100 d-block d-md-none"></div>

      <div class="form-group">
        <label for="postalCode">Postal code</label>
        <input
          formControlName="postalCode"
          id="postalCode"
          type="text"
          class="form-control"
          [ngModel]="customer.postalCode"
        />

        <div *ngIf="formControls.postalCode.touched && formControls.postalCode.invalid" class="alert alert-danger">
          <div *ngIf="formControls.postalCode.errors.required">Postal code is required.</div>
          <div *ngIf="formControls.postalCode.errors.minlength">
            Postal code should be at least 4 characters long.
          </div>
        </div>
      </div>

      <div class="w-100 d-block d-md-none"></div>

      <div class="form-group">
        <label for="city">City</label>
        <input formControlName="city" id="city" type="text" class="form-control" [ngModel]="customer.city" />

        <div *ngIf="formControls.city.touched && formControls.city.invalid" class="alert alert-danger">
          <div *ngIf="formControls.city.errors.required">City is required.</div>
          <div *ngIf="formControls.city.errors.minlength">
            City should be at least 4 characters long.
          </div>
        </div>
      </div>

      <div class="w-100 d-block d-md-none"></div>

      <div class="form-group">
        <label for="country">Country</label>
        <input formControlName="country" id="country" type="text" class="form-control" [ngModel]="customer.country" />

        <div *ngIf="formControls.country.touched && formControls.country.invalid" class="alert alert-danger">
          <div *ngIf="formControls.country.errors.required">Country code is required.</div>
          <div *ngIf="formControls.country.errors.minlength || formControls.country.errors.maxlength">
            Country code should be exactly 2 characters long.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="currency">Currency</label>
        <input
          formControlName="currency"
          id="currency"
          type="text"
          class="form-control"
          [ngModel]="customer.currency"
        />

        <div *ngIf="formControls.currency.touched && formControls.currency.invalid" class="alert alert-danger">
          <div *ngIf="formControls.currency.errors.required">Currency is required.</div>
          <div *ngIf="formControls.currency.errors.minlength">
            Currency should be at least 2 characters long.
          </div>
        </div>
      </div>

      <div class="w-100 d-block d-md-none"></div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input formControlName="phone" id="phone" type="text" class="form-control" [ngModel]="customer.phone" />

        <div *ngIf="formControls.phone.touched && formControls.phone.invalid" class="alert alert-danger">
          <div *ngIf="formControls.phone.errors.required">Phone is required.</div>
          <div *ngIf="formControls.phone.errors.minlength">
            Phone should be at least 6 characters long.
          </div>
        </div>
      </div>

      <div class="w-100 d-block d-md-none"></div>

      <div class="form-group">
        <label for="eMail">eMail</label>
        <input formControlName="eMail" id="eMail" type="text" class="form-control" [ngModel]="customer.eMail" />

        <div *ngIf="formControls.eMail.touched && formControls.eMail.invalid" class="alert alert-danger">
          <div *ngIf="formControls.eMail.errors.required">E-Mail is required.</div>
          <div *ngIf="formControls.eMail.errors.minlength">
            E-Mail should be at least 6 characters long.
          </div>
        </div>
      </div>
    </div>

    <button
      *ngIf="isNew"
      type="button"
      class="btn btn-primary btn-lg btn-danger shadow-none"
      routerLink="/customer/list"
    >
      Cancel
    </button>
    <button
      *ngIf="!isNew"
      type="button"
      class="btn btn-primary btn-lg btn-danger shadow-none"
      [routerLink]="['/customer/details', customer.id]"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-success shadow-none" type="submit">
      Save
    </button>
  </form>
</div>
