h1 {
  margin: 2vw 2vw 2vw 0;
  font-size: calc(12px + 1vw);
  color: #d9eef5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-control {
  display: block;
  margin: 0;
  padding: 0 0 0 1vw;
  width: calc(200px + 8vw);
  border-left: 0.4vw solid #b5dce9;
  border-radius: 0;
  color: black;
  font-size: calc(8px + 0.5vw);
  opacity: 0.9;
}

.btn {
  width: calc(200px + 8vw);
  background-color: #b35e8f;
  border: 0;
  border-radius: 0;
  font-size: 2vw;
  font-size: calc(8px + 0.5vw);
}

.btn:hover {
  background: black;
}

.btn:disabled {
  background: lightgray;
}

.error {
  margin: 0.5vw;
  color: white;
  font-size: calc(12px + 0.5vw);
}
