<div class="container-fluid">
  <h1>Order</h1>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" (click)="navigate(0)">General data</li>
      <li class="breadcrumb-item" (click)="navigate(1)">Product data</li>
      <li class="breadcrumb-item" (click)="navigate(2)">Order Status</li>
    </ol>
  </nav>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="tab">
      <h2>General data</h2>
      <div class="form-group">
        <label for="id">Id</label>
        <input formControlName="id" id="id" type="text" class="form-control" [ngModel]="order.id" readonly />
      </div>

      <div class="form-group">
        <label for="customerid">Customer</label>
        <select formControlName="customerid" id="customerid" class="form-control" [ngModel]="order.customerid">
          <option *ngFor="let customer of allCustomers" [value]="customer.id"
            >{{ customer.lastname }}, {{ customer.firstname }}</option
          >
        </select>

        <div *ngIf="formControls.customerid.touched && formControls.customerid.invalid" class="alert alert-danger">
          <div *ngIf="formControls.customerid.errors.required">Customer is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="date">Date</label>
        <input
          formControlName="date"
          id="date"
          type="date"
          class="form-control"
          [ngModel]="order.date | date: 'yyyy-MM-dd'"
        />

        <div *ngIf="formControls.date.touched && formControls.date.invalid" class="alert alert-danger">
          <div *ngIf="formControls.date.errors.required">Date is required.</div>
        </div>
      </div>
    </div>

    <div class="tab">
      <h2>Product data</h2>
      <div class="form-group">
        <label for="productid">Product</label>
        <select formControlName="productid" id="productid" class="form-control" [ngModel]="order.productid">
          <option *ngFor="let product of allProducts" [value]="product.id">{{ product.name }}</option>
        </select>

        <div *ngIf="formControls.productid.touched && formControls.productid.invalid" class="alert alert-danger">
          <div *ngIf="formControls.productid.errors.required">Product is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="amount">Amount</label>
        <input formControlName="amount" id="amount" type="text" class="form-control" [ngModel]="order.amount" />

        <div *ngIf="formControls.amount.touched && formControls.amount.invalid" class="alert alert-danger">
          <div *ngIf="formControls.amount.errors.required">Amount is required.</div>
          <div *ngIf="formControls.amount.errors.min">
            Amount should be at least 1.
          </div>
        </div>
      </div>
    </div>

    <div class="tab">
      <h2>Order Status</h2>

      <div class="form-group">
        <select formControlName="status" id="status" class="form-control" [ngModel]="order.status">
          <option *ngFor="let key of orderStatusTypeOptions" [value]="key">{{ orderStatusTypes[key] }}</option>
        </select>

        <div *ngIf="formControls.status.touched && formControls.status.invalid" class="alert alert-danger">
          <div *ngIf="formControls.status.errors.required">Status is required.</div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-primary btn-lg shadow-none" routerLink="/order/list">Cancel</button>
    <button
      type="button"
      class="btn btn-primary btn-lg prev shadow-none"
      (click)="previous()"
      [disabled]="currentTab === 0"
    >
      Previous
    </button>
    <button
      type="button"
      class="btn btn-primary btn-lg next shadow-none"
      (click)="next()"
      [disabled]="currentTab === lastTab"
    >
      Next
    </button>
    <button type="button" class="btn btn-primary btn-lg shadow-none" type="submit">
      Save
    </button>
  </form>
</div>
