<nav class="navbar navbar-expand-lg">
  <img class="logo" src="../../../assets/icons/logo.png" />
  <h1>Customers Application</h1>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div *ngIf="isAuthenticated" class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a
        class="nav-item nav-link"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: false }"
        routerLink="/customer"
        >Customers</a
      >
      <a
        class="nav-item nav-link"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: false }"
        routerLink="/order"
        >Orders</a
      >
    </div>
  </div>
  <div class="menu-actions">
    <img class="menu-item profile" src="../../../assets/icons/profile.png" (click)="showProfile($event)" />

    <img
      *ngIf="isOnline"
      class="menu-item onlineOffline"
      src="../../../assets/icons/online.png"
      (click)="goOffline($event)"
    />
    <img
      *ngIf="!isOnline"
      class="menu-item onlineOffline"
      src="../../../assets/icons/offline.png"
      (click)="goOnline($event)"
    />

    <img class="menu-item settings" src="../../../assets/icons/logout.png" (click)="logout($event)" />
  </div>
</nav>

<router-outlet></router-outlet>
