nav {
  background: #070d14;
  box-shadow: 2vw 2vw 5vw black;
  opacity: 0.8;
}

h1 {
  display: inline;
  color: white;
  font-family: Colus, serif;
  font-size: calc(8px + 1vw);
  vertical-align: middle;
}

.logo {
  left: 0;
  margin: 1vw;
  width: calc(16px + 1.5vw);
  position: relative;
}

.nav-link {
  margin: 0 0 0 1vw;
  font-size: calc(12px + 0.5vw);
  color: white;
}

.active-link {
  color: #b35e8f;
}

.settings {
  right: 0;
  margin: 1vw;
  width: calc(16px + 1.5vw);
  position: absolute;
}

.settings:hover {
  cursor: pointer;
}
