nav {    
    background: black;
}

.logo {  
  left: 0;
  margin: 1vw;
  width: calc(16px + 1.5vw);  
  position: relative;
}

.settings {  
  right: 0;
  margin: 1vw;
  width: calc(16px + 1.5vw);  
  position: absolute;
}