h1 {
  margin: 2vw 2vw 2vw 0;
  font-size: calc(12px + 1vw);
  color: #d9eef5;
}

.data-column {
  margin: 0;
  padding: 1vw;
  font-size: calc(8px + 0.5vw);
  font-weight: 400;
}

.detailItem {
  display: block;
  margin: 0;
  color: black;
  margin: 1vw 1vw 1vw 0;
  opacity: 0.9;
  transition: background-color 0.25s;
}

.orderLink:hover {
  cursor: pointer;
  color: #b35e8f;
}

.icon {
  margin: 0 0.6vw 0 0;
  width: calc(12px + 0.5vw);
  height: calc(12px + 0.5vw);
}

.order {
  margin: 0 0 1vw 0;
  width: 90vw;
  border: 0.2vw solid #b5dce9;
  background: white;
  opacity: 0.95;
}

button {
  border: 0;
  margin: 0.2vw;
  background: #b35e8f;
  font-size: calc(8px + 0.5vw);
}

button:hover {
  background: black;
}
