<div class="container-fluid">
  <h1>Order</h1>

  <div class="row order">
    <div class="col data-column">
      <h2>Orders</h2>
      <div class="detailItem">
        <img class="icon" src="../../../assets/icons/date.png" /> {{ order.date | date: 'longDate' }}
      </div>
      <div class="detailItem orderLink" [routerLink]="['/customer/details', order.customerid]">
        <img class="icon" src="../../../assets/icons/user.png" /> {{ order.customerName }}
      </div>
      <div class="detailItem">
        <img class="icon" src="../../../assets/icons/manufacturer.png" /> {{ order.manufacturer }}
      </div>
      <div class="detailItem"><img class="icon" src="../../../assets/icons/product.png" /> {{ order.name }}</div>
      <div class="detailItem"><img class="icon" src="../../../assets/icons/currency.png" /> {{ order.price }} Euro</div>
      <div class="detailItem"><img class="icon" src="../../../assets/icons/counter.png" /> {{ order.amount }} x</div>
      <div class="detailItem">
        <img class="icon" src="../../../assets/icons/bill.png" />
        {{ order.totalPrice | currency }}
      </div>
      <div class="detailItem">
        <img class="icon" src="../../../assets/icons/status.png" /> {{ orderStatusTypes[order.status] }}
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary btn-lg shadow-none" [routerLink]="['/order/edit', order.id]">
    Edit
  </button>
  <button type="button" class="btn btn-primary btn-lg shadow-none" (click)="deleteOrder($event)">Delete</button>
  <button type="button" class="btn btn-primary btn-lg shadow-none" routerLink="/order/list">
    Back to Order List
  </button>
</div>
