<div class="container-fluid">       
    <h1>{{customer.firstName}} {{customer.lastName}}</h1> 
    
    <div class="row customer">                
        <div class="col data-column">            
            <h2>User Data</h2>                       
            <span><img class="icon" src="../../../assets/icons/birth.png">{{customer.birthDate | date:'longDate'}}</span>            
            <span><img class="icon" src="../../../assets/icons/map.png">{{customer.street}}, {{customer.postalCode}} {{customer.city}} ({{customer.country}})</span>                        
            <span><img class="icon" src="../../../assets/icons/phone.png">{{customer.phone}}</span>
            <span><img class="icon" src="../../../assets/icons/mail.png">{{customer.eMail}}</span>  
        </div>
        <div class="w-100 d-block d-md-none"></div>
        <div class="col data-column">
            <h2>Orders</h2>                         
            <span><img class="icon" src="../../../assets/icons/order.png">No orders</span> 
        </div>
        <div class="w-100 d-block d-lg-none"></div>
        <div class="col data-column">
            <h2>Issues</h2>      
            <span><img class="icon" src="../../../assets/icons/issue.png">No issues</span>        
        </div>
        
    </div>
   
    <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/edit', customer.id]">Edit</button>
    <button type="button" class="btn btn-primary btn-lg" routerLink="">Back to Customer List</button>
    
</div>