// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$customers-primary: mat-palette($mat-indigo);
$customers-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$customers-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$customers-theme: mat-light-theme($customers-primary, $customers-accent, $customers-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($customers-theme);

body {
  background: linear-gradient(173deg, rgba(2, 0, 36, 1) 0%, rgba(37, 68, 103, 1) 0%, rgba(51, 129, 148, 1) 100%);
  font-family: 'Corbel', sans-serif;
}

$flag-icon-css-path: '~flag-icon-css/flags' !default;
@import '~flag-icon-css/sass/flag-icon';

@font-face {
  font-family: 'Colus';
  src: url(./assets/fonts/colus.ttf) format('truetype');
}

h2 {
  margin: 0;
  font-family: 'Colus', serif;
  font-size: calc(12px + 0.5vw);
}

.flag-icon {
  width: 1vw;
  opacity: 0.5;
}

html,
body {
  height: 100%;
}
